BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: 0
ColumnLimit: 400
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
